body {
  text-align: center;
  margin: 10% 20% !important;
}

table {
  img {
    height: 40px;
    width: 40px;
  }
}

table > tbody > tr > th {
  text-align: left;
}

input {
  height: 20px;
  margin: 20px auto;
}
